body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* LOGIN */
.login-box {
    width: 300px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

/* CONTENT */
.content {
    max-width: 800px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.content img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.content button {
    margin-top: 20px;
    padding: 10px 20px;
    background: crimson;
    color: white;
    border: none;
    cursor: pointer;
}
